:root{
    --green-color: #64B876;
    --dark-font-color: #194042;
    --lightblue-color: #E9FEF5;
    --white-color: #FFFFFF;
    --black-color: #181F33;
    --dark-geen-color: #0E7C7E;
    --light-background-color: #DDF5EF;

    /* fonts */
    --font-family: "Roboto", "Helvetica Neue", "sans-serif";
    --general-font-size: 10px;
}

body {
    font-family: var(--font-family);
    font-size: var(--general-font-size);
    background-color: var(--lightblue-color);
}

/* Navigation */

.bloom__header{
    width: 100%;
    padding: 3rem 0;
    position: relative;
}

.bloom__navbar {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 1.8rem;
    align-items: center;
    padding: 10px;
    background-color: var(--lightblue-color);
    color: var(--white-color);
}

#BloomLogo{
    width: 296px;
    height: 158px;
}

.navbar__list{
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.navbar__option{
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--dark-font-color);
}

.option__contact{
    width: 7.5rem;
    height: 3.5rem;
    background-color: #0E7C7E;
    text-align: center;
    color: var(--white-color);
    position: relative;
    overflow: hidden;
}

.anchor-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease;
}

.option__contact:hover .anchor-text {
    transform: translate(-50%, -60%); /* Mueve el texto ligeramente hacia arriba al hacer hover */
  }

.navbar_menu{
    display: none;
    font-size: 1.8rem;
    color: var(--dark-font-color);
    cursor: pointer;
}

/* Title and Background */

.bloom__main-header{
    padding: 8rem 0;
    text-align: center;
    background-image: url(../img/background-sf.webp);
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.bloom__titulo{
    display: inline-block;
    font-size: 3.2rem;
    font-weight: 800;
    color: var(--white-color);
    text-shadow: 2px 2px 4px rgba(25, 64, 66, 0.7);
}

.bloom__sub-title{
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--white-color);
    text-shadow: 2px 2px 4px rgba(25, 64, 66, 0.7);
}

.bloom__button{
    position: relative;
    display: inline-block;
    width: 6.5rem;
    height: 3rem;
    background-color: #0E7C7E;
    color: var(--white-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Stand out section */

.bloom__standout{
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.standout__title, .services__title{
    font-size: 1.6rem;
    font-weight: 900;
    color: var(--dark-font-color);
    margin-bottom: 1.5rem;
}

.standout__options{
    padding-top: 1.2rem;
}

.standout__list{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.standout__list-box{
    width: 25%;
    height: 390px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--dark-font-color);
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-align: center;
}

.bloom__icon{
    width: 49px;
    height: 39px;
    font-weight: 800;
    padding-bottom: 1.2rem;
}

.object__title{
    font-size: 1.6rem;
    font-weight: 800;
    padding-bottom: 1rem;
}

.object__info{
    font-size: 1.05rem;
    font-weight: 400;
}

/* SEVICES */

.bloom__services{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 1.3rem;
    padding-bottom: 2rem;
    text-align: center;
}

.services__title{
    font-size: 1.9rem;
    font-weight: 900;
    color: var(--dark-font-color);
    margin-bottom: 1.5rem;
}

.services__sub-title{
    color: var(--dark-font-color);
    font-size:1.2rem;
}

.services__options{
    padding-top: 2rem;
    width: 100%;
}

.services__list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services__option{
    width: 65%;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.service__title, .service__info{
    display: inline-block;
}

.service__title{
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--dark-font-color);
}

.service__info{
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--dark-font-color);
}

.service__image{
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.service__image:hover {
    transform: scale(1.1);
}

/* PLANS AND PRICING */

.bloom__pricing{
    padding-top: 3.5rem;
    padding-bottom: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing__header{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.pricing__title{
    font-size: 1.9rem;
    font-weight: 900;
    color: var(--dark-font-color);
    margin-bottom: 1.5rem;
}

.pricing__sub-title{
    color: var(--dark-font-color);
    font-size:1.2rem;
}

.pricing__options{
    padding-top: 2.8rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}

.pricing__option{
    width: 30%;
    height: 460px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid var(--dark-font-color);
}

.plan__title{
    font-size: 1.4rem;
    font-weight: 800;
    color: var(--white-color);
    background-color: var(--dark-font-color);
    width: 100%;
    padding: 1.2rem 0;
}

.plan__price{
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--dark-font-color);
}

.plan__list{
    list-style-type: disc;;
    text-align: left;
}

.list__object{
    text-decoration: dotted;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--dark-font-color);
}

/* BLOOM TESTIMONIALS */

.bloom__testimonials{
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    background-color: var(--light-background-color);
}

.testimonials__header{
    padding-bottom: 2rem;
}

.testimonials__title{
    font-size: 1.9rem;
    font-weight: 900;
    color: var(--dark-font-color);
    margin-bottom: 1.5rem;
}

.testimonials__sub-title{
    color: var(--dark-font-color);
    font-size:1.2rem;
}

.testimonials__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 2rem;
}

.testiminials__testimoney{
    width: 80%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.testiminials__testimoney:hover{
    transform: scale(1,1);
}

.testimoney__text{
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--dark-font-color);
    margin-bottom: 1rem;
}
.author__icon{
    width: 30px;
    height: 30px;
    color: var(--dark-font-color);
}

.testimoney__author{
    font-size: 1.05rem;
    font-weight: 300;
    color: var(--dark-font-color);
}

/* ABOUT US */

.bloom__about{
    padding-top: 5.4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 4rem;
}

.about__header{
    padding-bottom: 2rem;
}

.about__title{
    font-size: 1.9rem;
    font-weight: 900;
    color: var(--dark-font-color);
    margin-bottom: 1.5rem;
}

.about__sub-title{
    color: var(--dark-font-color);
    font-size:1.2rem;
}

.about__content{
    width: 80%;
    padding: 2rem;
    color: var(--dark-font-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about__info{
    font-size: 1.01rem;
    font-weight: 400;
}

/* FORMS */

.bloom__contact{
    padding-top: 5.4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 4rem;
    background-color: var(--light-background-color);
}

.contact__header{
    padding-bottom: 2rem;
}

.contact__title{
    font-size: 1.9rem;
    font-weight: 900;
    color: var(--dark-font-color);
}

.contact__sub-title{
    color: var(--dark-font-color);
    font-size:1.2rem;
}

.contact__form{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__box{
    width: 100%;
}

.general__input{
    width: 50%;
    height: 25px;
}

/* FOOTER */

.bloom__footer{
    padding-top: 5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--dark-font-color);
    color: var(--white-color);
    padding-bottom: 4rem;
}

.footer__title{
    font-size: 1.9rem;
    font-weight: 900;
    color: var(--white-color);
}

.footer__info{
    font-size: 1.01rem;
    font-weight: 400;
    color: var(--white-color);
}

.footer__rights{
    font-size: 0.8rem;
    color: var(--white-color);
    margin-top: 1rem;
}